.ui-autocomplete {
  max-height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
}


.isearch.buttons {
  height: 100%;
}

.isearch.show-all, .isearch.add {
  vertical-align: center;
}

.isearch.drop {
  z-index: 1000;
}
