/* Global Styles */
.didi {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  position: relative;
  border-width: 0;
  border-style: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  list-style-position: inside;
}

.didi:focus{outline:none}

.didi.error {
  display: block;
  clear: both;
  padding: 1px;
  border: 1px solid lightgrey;
  background: #fffff0;
  width: 95%;
  font-weight: normal;
  color: red;
  -moz-box-shadow: 3px 3px 4px #0f0f0f;
  -webkit-box-shadow: 3px 3px 4px #0f0f0f;
  box-shadow: 3px 3px 4px #0f0f0f;
  margin-left: auto;
  margin-right: auto;
}

/* Classed Styles */
/* animations */
.didi.spin,.didi.animate-spin,.didi.hover-spin:hover{animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear}
.didi.blink {animation: blinker 1s step-start infinite;}

/*
 * Copied from w3schools
 */
@-webkit-keyframes spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.didi.animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.didi.animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.didi.animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.didi.animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.didi.animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.didi.animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.didi.animate-zoom,.didi.hover-zoom:hover {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* show/hide placeholders */
.didi.hide-placeholder::-webkit-input-placeholder { color: transparent}
.didi.hide-placeholder::-moz-placeholder {color: transparent }
.didi.hide-placeholder::-ms-input-placeholder { color: transparent }


/* hide legends */
.didi.hide-legend>legend{display:none}
.didi.show-legend>legend{display:inline-block}

/* border styles */
.didi.border-width-thin { border-width: 1px;}
.didi.border-width-small { border-width: 2px;}
.didi.border-width-medium { border-width: 4px}
.didi.border-width-large { border-width: 8px}
.didi.border-left[class*=border-width-] { border-left-style: solid }
.didi.border-right[class*=border-width-] { border-right-style: solid }
.didi.border-bottom[class*=border-width-],.didi.border-y[class*=border-width-],.didi.hover-border-bottom:hover,.didi.focus-border-bottom:focus[class*=border-width-]{ border-bottom-style:solid }
.didi.border-top[class*=border-width-],.didi.border-y[class*=border-width-] { border-top-style:solid }
.didi.border[class*=border-width-],.didi.hover-border:hover[class*=border-width-] { border-style:solid }
.didi.borderless,.didi.border-less { border-top-width:0;border-bottom-width:0;border-left-width:0;border-right-width:0}
.didi.border-collapse{border-collapse: collapse;}
.didi.border-box{box-sizing: border-box;}
.didi.content-box{box-sizing: content-box;}
.didi.no-border-left[class*=border-width-]{ border-left-style: none }
.didi.no-border-right[class*=border-width-]{ border-right-style: none }
.didi.no-border-top[class*=border-width-]{ border-left-style: none }
.didi.no-border-bottom[class*=border-width-]{ border-right-style: none }
.didi.no-x-divider+.didi.no-x-divider[class*=border-width-]{border-left-style: none; border-right-style: none}

/* border divider */
.didi.hdivider+.didi.hdivider{border-left-style:solid}
.didi.vdivider+.didi.vdivider{border-top-style:solid}

/* border shadow */
.didi.shadow {box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) }

/* border rounding */
.didi.rounded-small{border-radius:0.25em;overflow:hidden}
.didi.rounded-top-left-small{border-top-left-radius:0.25em;overflow:hidden}
.didi.rounded-top-right-small{border-top-right-radius:0.25em;overflow:hidden}
.didi.rounded-bottom-left-small{border-bottom-left-radius:0.25em;overflow:hidden}
.didi.rounded-bottom-right-small{border-bottom-right-radius:0.25em;overflow:hidden}
.didi.rounded,.didi.rounded-medium{border-radius:0.5em;overflow:hidden}
.didi.rounded-top-left{border-top-left-radius:0.5em;overflow:hidden}
.didi.rounded-top-right{border-top-right-radius:0.5em;overflow:hidden}
.didi.rounded-bottom-left{border-bottom-left-radius:0.5em;overflow:hidden}
.didi.rounded-bottom-right{border-bottom-right-radius:0.5em;overflow:hidden}
.didi.rounded-large{border-radius:0.75em;overflow:hidden}
.didi.rounded-top-left-large{border-top-left-radius:0.75em;overflow:hidden}
.didi.rounded-top-right-large{border-top-right-radius:0.75em;overflow:hidden}
.didi.rounded-bottom-left-large{border-bottom-left-radius:0.75em;overflow:hidden}
.didi.rounded-bottom-right-larege{border-bottom-right-radius:0.75em;overflow:hidden}
.didi.rounded-xlarge{border-radius:1em;overflow:hidden}
.didi.rounded-xxlarge{border-radius:1.25em;overflow:hidden}
.didi.rounded-jumbo{border-radius:1.5em;overflow:hidden}
.didi.round,.didi.circle{border-radius:50%;overflow:hidden}

/* clearing */
.didi.clear{clear:both}
.didi.clear-after:after,.didi.clear-after::after {content:"";display:block;clear:both}
.didi.clear-after-4:after,.didi.clear-after-4::after {content:"";display:block;clear:both;padding:4}
.didi.clear-after-8:after,.didi.clear-after-8::after {content:"";display:block;clear:both;padding:8}
.didi.noclear{clear:none}


/* closebtn - from w3chools.didi.com */
.didi.closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.didi.closebtn:hover,.didi.closebtn:focus{color:#000;text-decoration:none;cursor:pointer}

/* 
 * colors 
 * (copied from w3schools.didi.com)
 * 
 * 
**/
.didi.hover-none:hover{box-shadow:none;background-color:transparent}
.didi.amber,.didi.hover-amber:hover{color:#000;background-color:#ffc107}
.didi.aqua,.didi.hover-aqua:hover{color:#000;background-color:#00ffff}
.didi.blue,.didi.hover-blue:hover{color:#fff;background-color:#2196F3}
.didi.light-blue,.didi.hover-light-blue:hover{color:#000;background-color:#87CEEB}
.didi.brown,.didi.hover-brown:hover{color:#fff;background-color:#795548}
.didi.cyan,.didi.hover-cyan:hover{color:#000;background-color:#00bcd4}
.didi.blue-grey,.didi.hover-blue-grey:hover{color:#fff;background-color:#607d8b}
.didi.green,.didi.hover-green:hover{color:#fff;background-color:#4CAF50}
.didi.light-green,.didi.hover-light-green:hover{color:#000;background-color:#8bc34a}
.didi.indigo,.didi.hover-indigo:hover{color:#fff;background-color:#3f51b5}
.didi.khaki,.didi.hover-khaki:hover{color:#000;background-color:#f0e68c}
.didi.lime,.didi.hover-lime:hover{color:#000;background-color:#cddc39}
.didi.orange,.didi.hover-orange:hover{color:#000;background-color:#ff9800}
.didi.deep-orange,.didi.hover-deep-orange:hover{color:#fff;background-color:#ff5722}
.didi.pink,.didi.hover-pink:hover{color:#fff;background-color:#e91e63}
.didi.purple,.didi.hover-purple:hover{color:#fff;background-color:#9c27b0}
.didi.deep-purple,.didi.hover-deep-purple:hover{color:#fff;background-color:#673ab7}
.didi.red,.didi.hover-red:hover{color:#fff;background-color:#f44336}
.didi.sand,.didi.hover-sand:hover{color:#000;background-color:#fdf5e6}
.didi.teal,.didi.hover-teal:hover{color:#fff;background-color:#009688}
.didi.yellow,.didi.hover-yellow:hover{color:#000;background-color:#ffeb3b}
.didi.white,.didi.hover-white:hover{color:#000;background-color:#fff}
.didi.whitesmoke,.didi.hover-whitesmoke:hover{color:#000;background-color:#f5f5f5}
.didi.black,.didi.hover-black:hover{color:#fff;background-color:#000}
.didi.grey,.didi.hover-grey:hover{color:#000;background-color:#9e9e9e}
.didi.light-grey,.didi.hover-light-grey:hover{color:#000;background-color:#f1f1f1}
.didi.dark-grey,.didi.hover-dark-grey:hover{color:#fff;background-color:#616161}
.didi.pale-red,.didi.hover-pale-red:hover{color:#000;background-color:#ffe7e7}
.didi.pale-green,.didi.hover-pale-green:hover{color:#000;background-color:#e7ffe7}
.didi.pale-yellow,.didi.hover-pale-yellow:hover{color:#000;background-color:#ffffd7}
.didi.pale-blue,.didi.hover-pale-blue:hover{color:#000;background-color:#e7ffff}
.didi.text-amber,.didi.hover-text-amber:hover{color:#ffc107}
.didi.text-aqua,.didi.hover-text-aqua:hover{color:#00ffff}
.didi.text-blue,.didi.hover-text-blue:hover{color:#2196F3}
.didi.text-light-blue,.didi.hover-text-light-blue:hover{color:#87CEEB}
.didi.text-brown,.didi.hover-text-brown:hover{color:#795548}
.didi.text-cyan,.didi.hover-text-cyan:hover{color:#00bcd4}
.didi.text-blue-grey,.didi.hover-text-blue-grey:hover{color:#607d8b}
.didi.text-green,.didi.hover-text-green:hover{color:#4CAF50}
.didi.text-light-green,.didi.hover-text-light-green:hover{color:#8bc34a}
.didi.text-indigo,.didi.hover-text-indigo:hover{color:#3f51b5}
.didi.text-khaki,.didi.hover-text-khaki:hover{color:#b4aa50}
.didi.text-lime,.didi.hover-text-lime:hover{color:#cddc39}
.didi.text-orange,.didi.hover-text-orange:hover{color:#ff9800}
.didi.text-deep-orange,.didi.hover-text-deep-orange:hover{color:#ff5722}
.didi.text-pink,.didi.hover-text-pink:hover{color:#e91e63}
.didi.text-purple,.didi.hover-text-purple:hover{color:#9c27b0}
.didi.text-deep-purple,.didi.hover-text-deep-purple:hover{color:#673ab7}
.didi.text-red,.didi.hover-text-red:hover{color:#f44336}
.didi.text-sand,.didi.hover-text-sand:hover{color:#fdf5e6}
.didi.text-teal,.didi.hover-text-teal:hover{color:#009688}
.didi.text-yellow,.didi.hover-text-yellow:hover{color:#d2be0e}
.didi.text-white,.didi.hover-text-white:hover{color:#fff}
.didi.text-whitesmoke,.didi.hover-text-white:hover{color:#f5f5f5}
.didi.text-black,.didi.hover-text-black:hover{color:#000}
.didi.text-grey,.didi.hover-text-grey:hover{color:#9e9e9e}
.didi.text-light-grey,.didi.hover-text-light-grey:hover{color:#f1f1f1}
.didi.text-dark-grey,.didi.hover-text-dark-grey:hover{color:#3a3a3a}
.didi.border-amber,.didi.hover-border-amber:hover{border-color:#ffc107}
.didi.border-aqua,.didi.hover-border-aqua:hover{border-color:#00ffff}
.didi.border-blue,.didi.hover-border-blue:hover{border-color:#2196F3}
.didi.border-light-blue,.didi.hover-border-light-blue:hover{border-color:#87CEEB}
.didi.border-brown,.didi.hover-border-brown:hover{border-color:#795548}
.didi.border-cyan,.didi.hover-border-cyan:hover{border-color:#00bcd4}
.didi.border-blue-grey,.didi.hover-border-blue-grey:hover{border-color:#607d8b}
.didi.border-green,.didi.hover-border-green:hover{border-color:#4CAF50}
.didi.border-light-green,.didi.hover-border-light-green:hover{border-color:#8bc34a}
.didi.border-indigo,.didi.hover-border-indigo:hover{border-color:#3f51b5}
.didi.border-khaki,.didi.hover-border-khaki:hover{border-color:#f0e68c}
.didi.border-lime,.didi.hover-border-lime:hover{border-color:#cddc39}
.didi.border-orange,.didi.hover-border-orange:hover{border-color:#ff9800}
.didi.border-deep-orange,.didi.hover-border-deep-orange:hover{border-color:#ff5722}
.didi.border-pink,.didi.hover-border-pink:hover{border-color:#e91e63}
.didi.border-purple,.didi.hover-border-purple:hover{border-color:#9c27b0}
.didi.border-deep-purple,.didi.hover-border-deep-purple:hover{border-color:#673ab7}
.didi.border-red,.didi.hover-border-red:hover{border-color:#f44336}
.didi.border-sand,.didi.hover-border-sand:hover{border-color:#fdf5e6}
.didi.border-teal,.didi.hover-border-teal:hover{border-color:#009688}
.didi.border-yellow,.didi.hover-border-yellow:hover{border-color:#ffeb3b}
.didi.border-white,.didi.hover-border-white:hover{border-color:#fff}
.didi.border-black,.didi.hover-border-black:hover{border-color:#000}
.didi.border-grey,.didi.hover-border-grey:hover{border-color:#9e9e9e}
.didi.border-light-grey,.didi.hover-border-light-grey:hover{border-color:#f1f1f1}
.didi.border-dark-grey,.didi.hover-border-dark-grey:hover{border-color:#616161}
.didi.border-pale-red,.didi.hover-border-pale-red:hover{border-color:#ffe7e7}
.didi.border-pale-green,.didi.hover-border-pale-green:hover{border-color:#e7ffe7}
.didi.border-pale-yellow,.didi.hover-border-pale-yellow:hover{border-color:#ffffd7}
.didi.border-pale-blue,.didi.hover-border-pale-blue:hover{border-color:#e7ffff}
.didi.border-lightgrey,.didi.hover-border-lightgrey:hover{border-color:lightgrey}


/* status */
[disabled],.didi.disabled { color: grey !important; pointer-events: none}

/* cursor */
.didi.autocursor,.didi.auto-cursor { cursor: auto }
.didi.pointer-cursor,.didi.cursor-pointer { cursor: pointer}
.didi.cursor-not-allowed{cursor:not-allowed}
.didi.cross-cursor{cursor:crosshair}
.didi.col-resize-cursor{cursor:col-resize;}
.didi.row-resize-cursor{cursor:row-resize;}
.didi.cursor-move{cursor:move}

/* display styles */
.didi.block { display: block; }
.didi.hide { display: none; }
.didi.force-hide { display: none !important}
.didi.inline { display: inline; }
.didi.inline-block { display: inline-block; }
.didi.float-contents > *, .didi.float-contents-left > *{float: left;}
.didi.float-contents-right > *{float: right;}
.didi.table-cell { display: table-cell}
.didi.table-fixed { table-layout: fixed}
.didi.table-row { display: table-row}
.didi.hide-overflow { overflow: hidden}
.didi.show-overflow { overflow: visible}
.didi.flex { display: flex}

/* dropdown */
.didi.hover-dropdown>.didi.dropdown,.didi.focus-dropdown+.didi.dropdown { display: none;}
.didi.hover-dropdown:hover>.didi.dropdown,.didi.focus-dropdown:focus+.didi.dropdown { display: block;}


/* font-awesome integration */
.didi.fa::before{font-family:FontAwesome;}
.didi.fa-right::before {float:right}
.didi.fa{font-family: inherit;}


/* font styles */
.didi.bold,.didi.focus-bold:focus,.didi.hover-bold:hover { font-weight: bold; }
.didi.bolder { font-weight: bolder; }
.didi.italic { font-style: italic; }
.didi.lighter { font-weight: lighter; }
.didi.font-weight-100,.didi.thin,.didi.thinner,.didi.font-weight-thin{ font-weight: 100; }
.didi.font-weight-200 { font-weight: 200; }
.didi.font-weight-300 { font-weight: 300; }
.didi.font-weight-400 { font-weight: 400; }
.didi.font-weight-500,.didi.font-weight-medium { font-weight: 500; }
.didi.font-weight-600 { font-weight: 600; }
.didi.font-weight-700 { font-weight: 800; }
.didi.font-weight-800 { font-weight: 700; }
.didi.font-weight-900 { font-weight: 900; }

/* font sizes */
.didi.tiny-font,.didi.font-tiny{font-size:70%}
.didi.small-font,.didi.font-small{font-size:85%}
.didi.medium-font,.didi.font-medium{font-size:100%}
.didi.large-font,.didi.font-large{font-size:120%}
.didi.xlarge-font,.didi.font-xlarge{font-size:140%}
.didi.xxlarge-font,.didi.font-xxlarge{font-size:165%}
.didi.xxxlarge-font,.didi.font-xxxlarge{font-size:220%}
.didi.jumbo-font,.didi.font-jumbo{font-size:500%}


/* text outline */
.didi.text-outline {
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}
/* hover */
.didi.hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.didi.hover-underline:hover{text-decoration: underline}

/* list styles */
.didi.nolist { list-style: none }
li.didi.paragraph {text-indent: -1em }


/* modal styles */
.didi.modal{z-index:10;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.didi.modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
@media (max-width:600px){
  .didi.modal-content{margin:0 10px;width:auto}
  .didi.modal{padding-top:30px}
}
@media (max-width:768px){
  .didi.modal-content{width:500px}
  .didi.modal{padding-top:50px}
}
@media (min-width:993px){
  .didi.modal-content{width:900px}
}

/* opacity */
.didi.transparent,.didi.hover-transparent:hover{opacity:0;filter:alpha(opacity=0)}
.didi.transparent-text,.didi.hover-transparent-text:hover{color: rgba(0,0,0,0)} 
.didi.transparent-5,.didi.hover-transparent-5{opacity:0.50;filter:alpha(opacity=50)}
.didi.transparent-6,.didi.hover-transparent-7:hover{opacity:0.60;filter:alpha(opacity=60)}
.didi.transparent-7,.didi.hover-transparent-7:hover{opacity:0.70;filter:alpha(opacity=70)}
.didi.transparent-8,.didi.hover-transparent-8:hover{opacity:0.80;filter:alpha(opacity=80)}
.didi.transparent-9,.didi.hover-transparent-9:hover{opacity:0.90;filter:alpha(opacity=90)}
.didi.opaque,.didi.hover-opaque:hover{opacity:1;filter:alpha(opacity=1)}
.didi.transparent-color,.didi.hover-transparent-color:hover{background-color: transparent}

.didi.veil-black{background-color: rgba(0,0,0,.3)}
.didi.veil-grey{background-color: rgba(128,128,128,.3)}
.didi.veil-white{background-color: rgba(255,255,255,.3)}

/* positioning */
.didi.absolute{position:absolute}
.didi.fixed{position:fixed }
.didi.relative{position:relative}
.didi.static{position:static}

/* placement */
.didi.bottom,.didi.bottom-left,.didi.bottom-right { bottom: 0; }
.didi.centered { margin-left: auto; margin-right: auto; }
.didi.center-all { text-align: center; margin-left: auto; margin-right: auto; vertical-align: center; }
.didi.center-contents{text-align:center}
.didi.center-x,.didi.middle-x,.didi.middle{ left: 50%}
.didi.center-y,.didi.middle-y,.didi.middle{ top: 50%}
.didi.center-text { text-align: center; }
.didi.float-left { float: left; }
.didi.float-right { float: right; }
.didi.left,.didi.top-left,.didi.bottom-left { left: 0; }
.didi.margin-0,.didi.nomargin{ margin: 0 }
.didi.no-margin-top{ margin-top: 0}
.didi.margin-left-min{ margin-left: 0.1em}
.didi.margin-left-tiny{ margin-left: 0.25em}
.didi.margin-left-small{ margin-left: 0.5em}
.didi.margin-left,.didi.margin-left-medium{ margin-left: 1em}
.didi.middle{ transform: translate(-50%,-50%); transform: ms-translateX(-50%,-50%)}
.didi.middle-x{ transform: translateX(-50%); transform: ms-translateX(-50%)}
.didi.middle-y{ transform: translateY(-50%);transform: ms-translateY(-50%)}
.didi.right,.didi.bottom-right,.didi.top-right { right: 0; }
.didi.overlay{ z-index: 1 }
.didi.top,.didi.top-left,.didi.top-right { top: 0; }
.didi.margin-left-min{ margin-left: 0.1em}
.didi.margin-left-tiny{ margin-left: 0.25em}
.didi.margin-left-small{ margin-left: 0.5em}
.didi.margin-left,.didi.margin-left-medium{ margin-left: 1em}
/* scrolling */
.didi.scroll-horizontal,.didi.scroll-x { overflow-x: auto; }
.didi.scroll-vertical,.didi.scroll-y { overflow-y: auto; }
.didi.no-scroll,.didi.noscroll,.didi.no-scroll>tbody,.didi.noscroll>tbody { overflow: hidden}
.didi.no-scroll-x { overflow-x: hidden}
.didi.no-scroll-y { overflow-y: hidden}

/* sizes */
.didi.zerosize{width:0;height:0}
.didi.auto-height,.didi.autoheight { height: auto; }
.didi.auto-width,.didi.autowidth { width: auto; }
.didi.auto-size,.didi.autosize { width: auto; height: auto; }
.didi.biggest { width: 100%; height: 100%; }
.didi.highest,.didi.tallest { height: 100%; }
.didi.height-1{height:1px}
.didi.height-2{height:2px}
.didi.height-4{height:4px}
.didi.height-8,.didi.height-small{height:8px}
.didi.height-10{height:10px}
.didi.height-16{height:16px}
.didi.height-20{height:20px}
.didi.height-24,.didi.height-medium{height:24px}
.didi.height-28{height:28px}
.didi.height-30{height:30px}
.didi.height-32,.didi.height-large{height:32px}
.didi.height-40{height:40px}
.didi.height-48,.didi.height-xlarge{height:48px}
.didi.height-50{height:50px}
.didi.height-60,.didi.height-xxlarge{height:60px}
.didi.height-56{height:56px}
.didi.height-64,.didi.height-jumbo{height:64px}

.didi.height-thinner-line { height: 0.0625em}
.didi.height-thin-line { height: 0.125em}
.didi.height-quarter-line { height: 0.25em}
.didi.height-half-line { height: 0.5em}
.didi.height-line,.didi.height-line-1 { height: 1em}
.didi.height-double-line,.didi.height-line-2 { height: 2em }
.didi.height-triple-line,.didi.height-line-3 { height: 3em }
.didi.height-line-4 { height: 4em}
.didi.height-line-5 { height: 5em}
.didi.height-line-6 { height: 6em}
.didi.height-line-7 { height: 7em}
.didi.height-line-8 { height: 8em}
.didi.height-line-9 { height: 9em}
.didi.min-height { min-height: 1px}

/* spacing - padding */
/* horizontal padding */
.didi.pad-min.didi.pad,.didi.pad-min.pad-x,.didi.pad-min.pad-left{padding-left:0.1em}
.didi.pad-min.didi.pad,.didi.pad-min.pad-x,.didi.pad-min.pad-right{padding-right:0.1em}
.didi.pad-tiny.didi.pad,.didi.pad-tiny.pad-x,.didi.pad-tiny.pad-left{padding-left:0.25em}
.didi.pad-tiny.didi.pad,.didi.pad-tiny.pad-x,.didi.pad-tiny.pad-right{padding-right:0.25em}
.didi.pad-small.didi.pad,.didi.pad-small.pad-x,.didi.pad-small.pad-left{padding-left:0.5em}
.didi.pad-small.didi.pad,.didi.pad-small.pad-x,.didi.pad-small.pad-right{padding-right:0.5em}
.didi.pad-medium.didi.pad,.didi.pad-medium.pad-x,.didi.pad-medium.pad-left{padding-left:1em}
.didi.pad-medium.didi.pad,.didi.pad-medium.pad-x,.didi.pad-medium.pad-right{padding-right:1em}
.didi.pad-large.didi.pad,.didi.pad-large.pad-x,.didi.pad-large.pad-left{padding-left:2em}
.didi.pad-large.didi.pad,.didi.pad-large.pad-x,.didi.pad-large.pad-right{padding-right:2em}
.didi.pad-xlarge.didi.pad,.didi.pad-xlarge.pad-x,.didi.pad-xlarge.pad-left{padding-left:4em}
.didi.pad-xlarge.didi.pad,.didi.pad-xlarge.pad-x,.didi.pad-xlarge.pad-right{padding-right:4em}
.didi.pad-jumbo.didi.pad,.didi.pad-jumbo.pad-x,.didi.pad-jumbo.pad-left{padding-left:8em}
.didi.pad-jumbo.didi.pad,.didi.pad-jumbo.pad-x,.didi.pad-jumbo.pad-right{padding-right:8em}

/* vertical padding */
.didi.pad-min.didi.pad,.didi.pad-min.pad-y,.didi.pad-min.pad-top{padding-top:0.1em}
.didi.pad-min.didi.pad,.didi.pad-min.pad-y,.didi.pad-min.pad-bottom{padding-bottom:0.1em}
.didi.pad-tiny.didi.pad,.didi.pad-tiny.pad-y,.didi.pad-tiny.pad-top{padding-top:0.25em}
.didi.pad-tiny.didi.pad,.didi.pad-tiny.pad-y,.didi.pad-tiny.pad-bottom{padding-bottom:0.25em}
.didi.pad-small.didi.pad,.didi.pad-small.pad-y,.didi.pad-small.pad-top{padding-top:0.5em}
.didi.pad-small.didi.pad,.didi.pad-small.pad-y,.didi.pad-small.pad-bottom{padding-bottom:0.5em}
.didi.pad-medium.didi.pad,.didi.pad-medium.pad-y,.didi.pad-medium.pad-top{padding-top:1em}
.didi.pad-medium.didi.pad,.didi.pad-medium.pad-y,.didi.pad-medium.pad-bottom{padding-bottom:1em}
.didi.pad-large.didi.pad,.didi.pad-large.pad-y,.didi.pad-large.pad-top{padding-top:2em}
.didi.pad-large.didi.pad,.didi.pad-large.pad-y,.didi.pad-large.pad-bottom{padding-bottom:2em}
.didi.pad-xlarge.didi.pad,.didi.pad-xlarge.pad-y,.didi.pad-xlarge.pad-top{padding-top:4em}
.didi.pad-xlarge.didi.pad,.didi.pad-xlarge.pad-y,.didi.pad-xlarge.pad-bottom{padding-bottom:4em}
.didi.pad-jumbo.didi.pad,.didi.pad-jumbo.pad-y,.didi.pad-jumbo.pad-top{padding-top:8em}
.didi.pad-jumbo.didi.pad,.didi.pad-jumbo.pad-y,.didi.pad-jumbo.pad-bottom{padding-bottom:1}


.didi.pad-0,.didi.nopad,.didi.nopad[class*=pad-]{padding:0}

.didi.same-height{ overflow: hidden}
.didi.same-height>*{ padding-bottom: 100em; margin-bottom: -100em}

.didi.justify {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;;
}

/* spacing between - fixed */
.didi.nomargin{ margin:0px}
.didi.hspace-1+.didi.hspace-1{margin-left:1px}
.didi.vspace-1+.didi.vspace-1{display:block;margin-top:1px}
.didi.hspace-2+.didi.hspace-2{margin-left:2px}
.didi.vspace-2+.didi.vspace-2{display:block;margin-top:2px}
.didi.hspace-4+.didi.hspace-4{margin-left:4px}
.didi.vspace-4+.didi.vspace-4{display:block;margin-top:4px}
.didi.hspace-8+.didi.hspace-8{margin-left:8px}
.didi.vspace-8+.didi.vspace-8{display:block;margin-top:8px}
.didi.hspace-12+.didi.hspace-12{margin-left:12px}
.didi.vspace-12+.didi.vspace-12{display:block;margin-top:12px}
.didi.hspace-16+.didi.hspace-16{margin-left:16px}
.didi.vspace-16+.didi.vspace-16{display:block;margin-top:16px}
.didi.hspace-24+.didi.hspace-24{margin-left:24px}
.didi.vspace-24+.didi.vspace-24{display:block;margin-top:24px}
.didi.hspace-32+.didi.hspace-32{margin-left:32px}
.didi.vspace-32+.didi.vspace-32{display:block;margin-top:32px}
.didi.hspace-64+.didi.hspace-64{margin-left:64px}
.didi.vspace-64+.didi.vspace-64{display:block;margin-top:64px}

/* spacing between - relative */
.didi.hspace-tiny+.didi.hspace-tiny{margin-left:1%}
.didi.vspace-tiny+.didi.vspace-tiny:before{content:"";display:block;margin-top:1%}
.didi.hspace-small+.didi.hspace-small{margin-left:2%}
.didi.hspace-small+.didi.hspace-small:before{content:"";display:block;margin-top:2%}
.didi.hspace+.didi.hspace,.didi.hspace-medium+.didi.hspace-medium{margin-left:4%}
.didi.vspace{display:block}
.didi.vspace+.didi.vspace,.didi.vspace-medium+.didi.vspace-medium{margin-top:4%}
.didi.hspace-large+.didi.hspace-large{margin-left:6%}
.didi.vspace-large+.didi.vspace-large{margin-top:6%}

/* text alignment */
.didi.left-text { text-align: left; }
.didi.right-text { text-align: right; }

/* text-spacing */
.didi.tight-text { line-height: 1}
.didi.single-spacing { line-height: 1em}
.didi.one-half-spacing { line-height: 1.5em }
.didi.double-spacing { line-height: 2em }
.didi.tripple-spacing { line-height: 3em }

/* text letter spacing */
.didi.letter-space,.didi.letter-space-medium { letter-spacing: 2 }
.didi.letter-space-large { letter-spacing: 4 }

/* text transformation */
.didi.lowercase { text-transform: lowercase; }
.didi.underlined { text-decoration: underline; }
.didi.uppercase { text-transform: uppercase; }
.didi.undecorated { text-decoration: none; }
.didi.nowrap { white-space: nowrap}
.didi.normal-wrap,.didi.wrap { white-space: normal}
.didi.truncate-word,.didi.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.didi.break-word{-ms-hyphens: auto;-moz-hyphens: auto;-webkit-hyphens: auto; hyphens: auto;word-wrap: break-word;overflow-wrap:break-word;text-overflow: ellipsis}
.didi.bullet-disc{ list-style-type: disc}

/* vertical alignment */
.didi.vertical-bottom { vertical-align: bottom; }
.didi.vertical-center,.didi.vertical-middle { vertical-align: middle; }
.didi.vertical-top { vertical-align: top; }

/* rotate transformation */
.didi.vertical-up { -webkit-transform:rotate(270deg);transform:rotate(270deg)}
.didi.vertical-down { -webkit-transform:rotate(90deg);transform:rotate(90deg)}

/* fractional width 
 * set the width of an element relative to the container's width in fractional terms
 * w-(x)-(y)
 * where x is the numerator and y is the denominator
 */
.didi.w-1-2,.didi.half {width:49.99999%}
.didi.w-1-3,.didi.third {width:33.33333%}
.didi.w-1-4,.didi.quarter {width:24.99999%}
.didi.w-1-5,.didi.fifth {width:19.99999%}
.didi.w-1-6,.didi.sixth {width:16.66666%}
.didi.w-1-7,.didi.seventh {width:14.28527%}
.didi.w-1-8,.didi.eighth {width:12.49999%}
.didi.w-1-9,.didi.nineth {width:11.11111%}
.didi.w-1-10,.didi.tenth {width:9.99999%}
.didi.w-1-11 {width:9.09090%}
.didi.w-1-12 {width:8.33333%}
.didi.w-1-13 {width:7.6923%}
.didi.w-1-14 {width:7.1428%}
.didi.w-1-15 {width:6.6666%}
.didi.w-1-16 {width:6.25%}
.didi.w-1-17 {width:5.8821%}
.didi.w-1-18 {width:5.5555%}
.didi.w-1-19 {width:5.2631%}
.didi.w-1-20 {width:5%}
.didi.w-1-21 {width:4.7619%}
.didi.w-1-22 {width:4.5453%}
.didi.w-1-23 {width:4.3478%}
.didi.w-1-24 {width:4.1666%}
.didi.w-1-25 {width:4%}
.didi.w-1-26 {width:3.8461%}
.didi.w-1-27 {width:3.7037%}
.didi.w-1-28 {width:3.5714%}
.didi.w-1-29 {width:3.4482%}
.didi.w-1-30 {width:3%}
.didi.w-2-3,.didi.two-thirds {width:66.66666%}
.didi.w-2-5 {width:39.99999%}
.didi.w-2-7 {width:28.57141%}
.didi.w-2-9 {width:22.22222%}
.didi.w-2-11 {width:18.18181%}
.didi.w-3-4,.didi.three-quarter{width:74.99999%}
.didi.w-3-5 {width:59.99999%}
.didi.w-3-7 {width:41.85714%}
.didi.w-3-8 {width:37.49999%}
.didi.w-3-10 {width:29.99999%}
.didi.w-3-11 {width:27.27272%}
.didi.w-4-5,.didi.four-fifth {width:79.99999%}
.didi.w-4-7 {width:47.14285%}
.didi.w-4-9 {width:44.44444%}
.didi.w-4-10 {width:39.99999%}
.didi.w-4-11 {width:36.363636%}
.didi.w-5-6 {width:83.33333%}
.didi.w-5-7 {width:71.28571%}
.didi.w-5-8 {width:62.49999%}
.didi.w-5-9 {width:55.55555%}
.didi.w-5-11 {width:45.45454%}
.didi.w-5-12 {width:41.66666%}
.didi.w-6-7 {width:85.71428%}
.didi.w-6-11 {width:54.54545%}
.didi.w-7-8 {width:87.49999%}
.didi.w-7-10 {width:69.99999%}
.didi.w-7-11 {width:63.63636%}
.didi.w-7-12 {width:58.33333%}
.didi.w-8-9 {width:88.88888%}
.didi.w-8-11 {width:72.72727%}
.didi.w-9-10 {width:89.99999%}
.didi.w-9-11 {width:81.81818%}

/* 
 * fit elements onto a container in a grid
 * usage:
 *   on container: 
 *     grid ([s|m|l]row_size|fit) [space]
 *     e.g. 
 *      <div class="grid s1 m3 l5 space">...</div>
 *     the above will fit elements as follows:
 *        on small devices, size each child element to 100% of container width and space them 2% vertically
 *        on medium devices, size each child element to 32% of container width and space them 2% spacing vertically and horizontally
 *        on large devices, size each child element to 23.5% of contaier width and space them 2% spacing vertically and horizontally
 *     e.g.
 *       <div class="grid fit space">
 *         <p>A</p>
 *         <p>B</p>
 *         <p>C</p>
 *       </div>
 *     the above will for all device sizes, size each child element to 32.5% of container width and space them 2% horizontally
 * optional usage:
 *   on elements
 *     span[(number_of_columns)][number_of_columns_to_span]
 *     e.didi.g.
 *       <div class="grid s1 m3 l5">
 *         <p>A</p>
 *         <p>B</p>
 *         <p class="span">C</p>
 *         <p>D</p>
 *         <p>E</p>
 *       </div>
 *     the above will fit elements as follows:
 *        on small devices, size each child element to 100% of container width
 *        on medium devices, size all child elements to 33% of container width, except for C which will be sized to 100%
 *        on medium devices, size all child elements to 25% of container width, except for C which will be sized to 100%
**/
.didi.grid>*{display:inline-block}          /* all grid children displayed inline from left to right */
.didi.grid.space>*{margin-bottom:2%;margin-right:2%}   /* default spacing for all grid item is 2% */
.didi.grid.fit>:first-child:nth-last-child(1){width:100%}  /* one child */
.didi.grid.fit>:first-child:nth-last-child(2),.didi.grid.fit>:first-child:nth-last-child(2) ~ *{width:50%}  /* 2 children, not spaced */
.didi.grid.fit.didi.space>:first-child:nth-last-child(2),.didi.grid.fit.space>:first-child:nth-last-child(2) ~ *{width:49%} /* 2 children, spaced */
.didi.grid.fit>:first-child:nth-last-child(3),.didi.grid.fit>:first-child:nth-last-child(3) ~ *{width:33.3333%} /* 3 children, not spaced */
.didi.grid.fit.didi.space>:first-child:nth-last-child(3),.didi.grid.fit.space>:first-child:nth-last-child(3) ~ *{width:32%} /* 3 children, spaced */
.didi.grid.fit>:first-child:nth-last-child(4),.didi.grid.fit>:first-child:nth-last-child(4) ~ *{width:25%}
.didi.grid.fit.didi.space>:first-child:nth-last-child(4),.didi.grid.fit.space>:first-child:nth-last-child(4) ~ *{width:23.5%}
.didi.grid.fit>:first-child:nth-last-child(5),.didi.grid.fit>:first-child:nth-last-child(5) ~ *{width:20%}
.didi.grid.fit.didi.space>:first-child:nth-last-child(5),.didi.grid.fit.space>:first-child:nth-last-child(5) ~ *{width:18.4%}
.didi.grid.fit>:first-child:nth-last-child(6),.didi.grid.fit>:first-child:nth-last-child(6) ~ *{width:16.6666%}
.didi.grid.fit.didi.space>:first-child:nth-last-child(6),.didi.grid.fit.space>:first-child:nth-last-child(6) ~ *{width:15%}
.didi.grid.fit.didi.space>:last-child{margin-right:0}
.didi.grid.fit.didi.space>*{margin-bottom:0}


/* 
 * responsive classes
 * 
**/
@media only screen and (max-width:600px){
/* 
 * responsive grid sizing and positioning 
 * 
 * fit elements onto a container in a grid
 * usage:
 *   on container: 
 *     grid ([s|m|l]max_number_of_children_per_row) [space]
 *     e.didi.g. 
 *      <div class="grid s1 m3 l5 space">...</div>
 *     the above will fit elements as follows:
 *        on small devices, size each child element to 100% of container width and space them 2% vertically
 *        on medium devices, size each child element to 32% of container width and space them 2% spacing vertically and horizontally
 *        on large devices, size each child element to 23.5% of contaier width and space them 2% spacing vertically and horizontally
 * optional usage:
 *   on elements
 *     span[(number_of_columns)][number_of_columns_to_span]
 *     e.didi.g.
 *       <div class="grid s1 m3 l5">
 *         <p>A</p>
 *         <p>B</p>
 *         <p class="span">C</p>
 *         <p>D</p>
 *         <p>E</p>
 *       </div>
 *     the above will fit elements as follows:
 *        on small devices, size each child element to 100% of container width
 *        on medium devices, size all child elements to 33% of container width, except for C which will be sized to 100%
 *        on medium devices, size all child elements to 25% of container width, except for C which will be sized to 100%
 *  
**/
  .didi.grid.s1>*,.didi.grid.s1.space>*,.didi.grid.s2>.span,.didi.grid.s2.space.span{width:100%;margin-right:0;display: inline-block}
  .didi.grid.s2>*{width:50%}
  .didi.grid.s2.space>*{width:49%}
  .didi.grid.s2.space>:nth-child(2n){margin-right:0}
  .didi.grid.s3>*{width:33.3333%}
  .didi.grid.s3.space>*{width:32%}
  .didi.grid.s3.space>:nth-child(3n+3){margin-right:0}
  .didi.grid.s3.space>:nth-child(3n+4){margin-bottom:0}
  .didi.grid.s4>*{width:25%}
  .didi.grid.s4.space>*{width:23.5%}
  .didi.grid.s4.space>:nth-child(4n+4){margin-right:0}
  .didi.grid.s5>*{width:20%}
  .didi.grid.s5.space>*{width:18.4%}
  .didi.grid.s5.space>:nth-child(5n+5){margin-right:0}
  .didi.grid.s6>*{width:16.6666%}
  .didi.grid.s6.space>*{width:15%}
  .didi.grid.s6.space>:nth-child(6n+6){margin-right:0}
  .didi.grid.s7>*{width:14.2857%}
  .didi.grid.s7.space>*{width:12.5715%}
  .didi.grid.s7.space>:nth-child(7n+7){margin-right:0}
  .didi.grid.s8>*{width:12.5%}
  .didi.grid.s8.space>*{width:10.75%}
  .didi.grid.s8.space>:nth-child(8n+8){margin-right:0}
  .didi.grid.s9>*{width:11.1111%}
  .didi.grid.s9.space>*{width:9.3333%}
  .didi.grid.s9.space>:nth-child(9n+10){margin-right:0}
  .didi.grid.s10>*{width:10%}
  .didi.grid.s10.space>*{width:8.2%}
  .didi.grid.s10.space>:nth-child(10n+10){margin-right:0}


/* 
 * responsive 12 column sizing
 * 
 * size an element in a virtual 12 column space, each number represents the number of columns spanned
 * usage:
 *   col (s|m|l)number_of_columns_spanned
 *     e.didi.g. 
 *      <div class="col s12 m6 l3"></div>
 *      the above will size the div element as follows:
 *        on small devices, size the element to 12 columns or 100% or full width of the container
 *        on medium devices, size the element to 6 columns or 50% or half width of the container
 *        on large devices, size the element to 3 columns or 25% or quorter width of the container
 *   if the number of columns spanned is zero, then the element is hidden
 *   e.didi.g
 *     <div class="col s0 m0 l6"
 *    the above will hide the element on small and medium devices but occupy 50% of the container width on large devices
 *    
**/
  .didi.col.s0,.didi.hide-small{display:none}
  .didi.col.s1{width:8.33333%}
  .didi.col.s2{width:16.66666%}
  .didi.col.s3{width:24.99999%}
  .didi.col.s4{width:33.33333%}
  .didi.col.s5{width:41.66666%}
  .didi.col.s6{width:49.99999%}
  .didi.col.s7{width:58.33333%}
  .didi.col.s8{width:66.66666%}
  .didi.col.s9{width:74.99999%}
  .didi.col.s10{width:83.33333%}
  .didi.col.s11{width:91.66666%}
  .didi.col.s12,.didi.col.widest{width:100%}
}

@media only screen and (min-width:601px) and (max-width:992px){
   .didi.font-size-base{font-size: 16px}

  .didi.grid.m1>*,.didi.grid.m1.space>*,.didi.grid.m2>.didi.span,.didi.grid.m2.space>.span{width:100%;margin-right:0;display: inline-block}
  .didi.grid.m2>*{width:50%}
  .didi.grid.m2.space>*{width:49%}
  .didi.grid.m2.space>:nth-child(2n){margin-right:0}
  .didi.grid.m2>.didi.span,.didi.grid.m2>.didi.span2{width:100%}

  .didi.grid.m3>*{width:33.3333%}
  .didi.grid.m3.space>*{width:32%}
  .didi.grid.m3.space>:nth-child(3n+3){margin-right:0}
  .didi.grid.m3>.didi.span,.didi.grid.m3>.didi.span3{width:100%}
  .didi.grid.m3>.didi.span2{width:66.6666%}


  .didi.grid.m4>*{width:25%}
  .didi.grid.m4.space>*{width:23.5%}
  .didi.grid.m4.space>:nth-child(4n+4){margin-right:0}
  .didi.grid.m4>.didi.span2{width:50%}
  .didi.grid.m4>.didi.span3{width:66.6666%}
  .didi.grid.m4>.didi.span4,.didi.grid.m4.span{width:100%}


  .didi.grid.m5>*{width:20%}
  .didi.grid.m5.space>*{width:18.4%}
  .didi.grid.m5.space>:nth-child(5n+5){margin-right:0}
  .didi.grid.m5>.didi.span2{width:40%}
  .didi.grid.m5>.didi.span3{width:60%}
  .didi.grid.m5>.didi.span4{width:75%}
  .didi.grid.m5>.didi.span5,.didi.grid.m5.span{width:100%}


  .didi.grid.m6>*{width:16.6666%}
  .didi.grid.m6.space>*{width:15%}
  .didi.grid.m6.space>:nth-child(6n+6){margin-right:0}
  .didi.grid.m7>*{width:14.2857%}
  .didi.grid.m7.space>*{width:12.5715%}
  .didi.grid.m7.space>:nth-child(7n+7){margin-right:0}
  .didi.grid.m8>*{width:12.5%}
  .didi.grid.m8.space>*{width:10.75%}
  .didi.grid.m8.space>:nth-child(8n+8){margin-right:0}
  .didi.grid.m9>*{width:11.1111%}
  .didi.grid.m9.space>*{width:9.3333%}
  .didi.grid.m9.space>:nth-child(9n+10){margin-right:0}
  .didi.grid.m10>*{width:10%}
  .didi.grid.m10.space>*{width:8.2%}
  .didi.grid.m10.space>:nth-child(10n+10){margin-right:0}

  .didi.col.m0,.didi.hide-medium{display:none}
  .didi.col.m1{width:8.33333%}
  .didi.col.m2.hspace{width:6.99999%}
  .didi.col.m2{width:16.66666%}
  .didi.col.m2.hspace{width:24.99999%}
  .didi.col.m3{width:24.99999%}
  .didi.col.m3.hspace{width:21.99999%}
  .didi.col.m4{width:33.33333%}
  .didi.col.m4.hspace{width:30.66666%}
  .didi.col.m5{width:41.66666%}
  .didi.col.m6{width:49.99999%}
  .didi.col.m6.hspace{width:47.99999%}
  .didi.col.m6{width:49.99999%}
  .didi.col.m7{width:58.33333%}
  .didi.col.m8{width:66.66666%}
  .didi.col.m9{width:74.99999%}
  .didi.col.m10{width:83.33333%}
  .didi.col.m11{width:91.66666%}
  .didi.col.m12{width:99.99999%}

  .didi.col.widest{width:100%}
}
@media only screen and (min-width:993px){
  .didi.font-size-base {font-size: 16px}

  /* fit elements onto a container in a grid
   * usage on container: 
   *  grid [media_size*row_size] [space]
   * usage on 
   * where
   *   media_size*row_size - is either (s)mall, (m)edium or (l)arge combined with the number of elements per row
   *   space  - indicates to put spacing between elements, spacing is 2% of the total container width
   */
  .didi.grid.l1>*,.didi.grid.l1.space>*{width:100%;margin-right:0;display: inline-block}

  .didi.grid.l2>*{width:50%}
  .didi.grid.l2.space>*{width:49%}
  .didi.grid.l2.space>:nth-child(2n+2){margin-right:0}
  .didi.grid.l2.space>:nth-last-child(2){margin-bottom:0} 
  .didi.grid.l2>.didi.span,.didi.grid.l2>.didi.span2{width:100%}

  .didi.grid.l3>*{width:33.3333%}

  .didi.grid.l3.space>*{width:32%}
  .didi.grid.l3.space>:nth-child(3n+3){margin-right:0}
  .didi.grid.l3.space>:nth-last-child(2),.didi.grid.l3.space>:nth-last-child(3){margin-bottom:0} 

  .didi.grid.l3>.didi.span,.didi.grid.l3>.didi.span3{width:100%}
  .didi.grid.l3>.didi.span2{width:66.6666%}

  .didi.grid.l4>*{width:25%}

  .didi.grid.l4.space>*{width:23%}
  .didi.grid.l4.space>:nth-child(4n+4){margin-right:0}
  .didi.grid.l4.space>:nth-last-child(2),.didi.grid.l4.space>:nth-last-child(3),.didi.grid.l4.space>:nth-last-child(4){margin-bottom:0} 

  .didi.grid.l4>.didi.span2{width:50%}
  .didi.grid.l4>.didi.span3{width:66.6666%}
  .didi.grid.l4>.didi.span4,.didi.grid.l4.span{width:100%}

  .didi.grid.l5>*{width:20%}
  .didi.grid.l5.space>*{width:16%}
  .didi.grid.l5.space>:nth-child(5n+5){margin-right:0}
  .didi.grid.l5.space>:nth-last-child(2),.didi.grid.l5.space>:nth-last-child(3),.didi.grid.l5.space>:nth-last-child(4),.didi.grid.l5.space>:nth-last-child(5){margin-bottom:0} 

  .didi.grid.l5>.didi.span2{width:40%}
  .didi.grid.l5>.didi.span3{width:60%}
  .didi.grid.l5>.didi.span4{width:75%}
  .didi.grid.l5>.didi.span5,.didi.grid.l5.span{width:100%}

  .didi.grid>.didi.no-float{width:auto}
  .didi.grid>.didi.span{width:100%}
  
  .didi.col.l0,.didi.hide-large{display:none}
  .didi.col.l1{width:8.33333%}
  .didi.col.l2{width:16.66666%}
  .didi.col.l3{width:24.99999%}
  .didi.col.l4{width:33.33333%}
  .didi.col.l5{width:41.66666%}
  .didi.col.l6{width:49.99999%}
  .didi.col.l7{width:58.33333%}
  .didi.col.l8{width:66.66666%}
  .didi.col.l9{width:74.99999%}
  .didi.col.l10{width:83.33333%}
  .didi.col.l11{width:91.66666%}
  .didi.col.l12{width:99.99999%}
}


@media only screen and (max-width:600px){
  .didi.font-size-base {font-size: 18px}

  .didi.nav-small {height:100%}
  .didi.hide-small{display:none}
}

/* grid spanning */
.didi.grid,.didi.grid.space>.didi.span{width:100%;margin-right:0;display: inline-block}

.didi.col.didi.centered{float:none;display:block}
.didi.col.didi.float-right{float:right}


/* specifiy an element as part of a 12 column virtual width
 * usage:
 *   col [s|m|l][1-12]
**/
.didi.col{float:left;display:inline-block}
.didi.center-contents>.didi.col{float:none}

/* modern browser grid */
.didi.modern-grid{display: grid}



.didi.widest,.didi.col.widest{width:100%}
.didi.no-float,.didi.col.no-float{float:none}
.didi.float-right,.didi.col.float-right{float:right}
.didi.no-repeat,.didi.norepeat{background-repeat: no-repeat}
.didi.no-backcolor{background-color:inherit}
.didi.background-cover{ background-size: cover }
.didi.background-widest{ background-size: 100% auto }
.didi.background-tallest{ background-size: auto 100% }
.didi.background-largest{ background-size: 100% 100%}
.didi.background-top { background-position: top}
.didi.background-center { background-position: center}
.didi.background-clear { background-color: initial }
.didi.background-hide { background-size: 0% 0%}
.didi.background-fade { background-color: rgba(0,0,0,0.6)};

.didi.scroll-table { table-layout: fixed; }
.didi.scroll-table>thead,.didi.scroll-table>.didi.head { display: table; width: calc(100% - 17px)}
.didi.scroll-table>tbody,.didi.scroll-table>.didi.body { overflow-y: auto; display: block; }
.didi.scroll-table>*>tr { width: 100%; display: table; box-sizing: border-box;}
.didi.scroll-table>*>tr>* { table-layout: fixed; display: inline-block;}
.didi.plain-table>tbody{display: table}

table.didi td { background-clip: padding-box;}

/* Copied from bootstrap */
.didi.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.didi.btn-primary:focus,
.didi.btn-primary.didi.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.didi.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.didi.btn-primary:active:focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.didi.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.didi.btn-success:focus,
.didi.btn-success.didi.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.didi.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.didi.btn-success:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.didi.btn-success:active:hover,
.didi.btn-success:active:focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.didi.btn-warning:hover,
.didi.btn-warning:focus,
.didi.btn-warning:active,
.didi.btn-warning.didi.active,
.didi.open .didi.dropdown-toggle.didi.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.didi.btn-warning:active,
.didi.btn-warning.didi.active,
.didi.open .didi.dropdown-toggle.didi.btn-warning {
  background-image: none;
}

.didi.btn-warning.didi.disabled,
.didi.btn-warning[disabled],
fieldset[disabled] .didi.btn-warning,
.didi.btn-warning.didi.disabled:hover,
.didi.btn-warning[disabled]:hover,
fieldset[disabled] .didi.btn-warning:hover,
.didi.btn-warning.didi.disabled:focus,
.didi.btn-warning[disabled]:focus,
fieldset[disabled] .didi.btn-warning:focus,
.didi.btn-warning.didi.disabled:active,
.didi.btn-warning[disabled]:active,
fieldset[disabled] .didi.btn-warning:active,
.didi.btn-warning.didi.disabled.didi.active,
.didi.btn-warning[disabled].didi.active,
fieldset[disabled] .didi.btn-warning.didi.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
