/*
Copyright Expression year is undefined on line 4, column 29 in file:///Users/fhulu/Documents/code/didi/nbproject/licenseheader.txt. Mukoni Software.
*/
/*
    Created on : 19 Jan 2015, 7:56:57 PM
    Author     : fhulu
*/

.file-uploader #progress
{
  color: white;
  border: 1px solid #4cae4c;
}

.file-uploader #buttons>*
{
  /*color: white;*/
  padding: 2 0;
}

.file-uploader #uploaded,
.file-uploader #bar
{
  color: white;
  background-color: #4cae4c;
}

.file-uploader #failed,
.file-uploader #bar.error
{
  background-color: red;
}
