.menu
{
  padding: 0;
  margin: 0;
  height: 35px;
  width: 100%;
  list-style: none;
  position: relative;
  background: rgb(0,107,182); /* #006BB6; */
  color: white;
}

.menu a:hover
{
  color: #52C5FF;
  background-color: rgb(30,80,110);
  color: #FFFFFF;
}

.menu li
{
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #e0e0e0;
  display: block;
}

.menu li a
{
  padding: 10px 10px;
  display: block;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  float: none;
  font-size: 12px;
}

.menu li span
{
  position: absolute;
  display: none;
  background: rgb(22,66,99);
  z-index: 99999;
  opacity: 0.9;
  filter:Alpha(opacity=90);
  display: none;
  width: 170px;
}

.menu li:hover span
{
   background-color: #3399EE;
   border-radius: 4px;
   color: #FFFFFF;
  display: block;
}
